@model Models.Users
@{
    ViewBag.Title = "圈子-全部";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
}
<style>
    .head {
        min-height: 90px;
        font-size: x-large;
        color: darkorange;
        text-indent: 50px;
        letter-spacing: 3px;
        margin-top: 50px;
    }
</style>



<div class="container" style="background-color :#f2f5f1;  min-height:500px;">
    <div class="row clearfix">
        <div class="col-md-12 column" style="overflow :hidden ;">
            <div class="head">
                <strong style="text-shadow: 1px 1px ;">  @Model.user_info    </strong>
            </div>

            <div class="row clearfix" style="overflow :hidden ;">
                <div class="col-md-2 column">
                    <img alt="140x140" src="@Session["Userphoto"]" width="130" />
                </div>
                <div class="col-md-7 column">
                    <h4 style="color :darkorange ;"> @Session["Username"]   </h4>
                    <h5 style="margin-top :30px; color : orangered"> @Model.area , @Model.UserType.userType_name , @Model.userId    </h5>
                    <ul class="nav nav-pills" style="margin-top :15px;">
                        @*导航栏*@
                        <li><a href="@Url.Action("circle","Circle")">个人中心</a></li>
                        <li><a href="@Url.Action("hot","Circle")">热门音乐人</a></li>
                        <li class="active"><a href="@Url.Action("all","Circle")">全部动态</a></li>
                        <li><a href="@Url.Action("Index","Circle")">怀旧版 </a></li>
                        <li><a href="@Url.Action("ChatIndex","Mail")">聊天</a></li>
                        <li><a href="@Url.Action("Index","OriginMusic")">音乐</a></li>
                    </ul>
                </div>
                <div class="col-md-3 column">
                    <div style="margin :20px; text-shadow: 1px 1px ; color :darkorange ;">
                        <h4> 粉丝:@Model.user_fans &nbsp; | 关注：@Model.user_add     </h4>
                    </div>
                </div>
            </div>

            @*第二部分*@
            <div class="row clearfix" style="overflow :hidden ; margin-top :30px;">

                <div class="col-md-9 column">
                    @*@using (Ajax.BeginForm("postMessage", "UserManage", new AjaxOptions { HttpMethod = "post", OnSuccess = "addcircle" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row clearfix" style="height:250px;overflow-y:hidden; ">
                            <div class="col-md-12  column">
                                <textarea name="content" id="editor" placeholder="来说点什么..." required="required"></textarea>
                                <script>
                        var editor = CKEDITOR.replace('editor');
                                </script>
                            </div>
                        </div>
                        <div class="row clearfix" style="min-height:50px;overflow-y:hidden;">
                            <div class="col-md-10 column">

                            </div>
                            <div class="col-md-2 column">
                                <br />
                                <button type="submit" class="btn btn-default" style="background-color:green;color:white;">发布动态</button>
                            </div>
                        </div>
                    }*@
                    <hr><hr>
                    @Html.Action("allcircle", "Circle")    @*音乐人动态*@


                </div>
                <div class="col-md-3 column" style="overflow :hidden;">
                    @Html.Action("circle2", "Circle")     @*推荐用户*@
                </div>
            </div>
            <hr>
            <div style="text-align:center ; margin :10px;">
                <small> 我是有底线的  </small>
            </div>
        </div>
    </div>
</div>