@model IEnumerable<Models.UserMusics>
@{
    ViewBag.Title = "歌曲查询";
    int i = 1;
    string num = "";
}
@section Css{
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
}
<style>
    a{
        font-size:18px;
        color:green;
    }
    a:hover{
        color:red;
        text-decoration:none;
    }
</style>
<div class="container box">   
        <div class="row clearfix" style="min-height:460px;overflow-y:hidden;">
            <div class="col-md-12 column">             
                <h4 class="text-success">搜索“<span style="color:red;display:inline-table;font-weight:400;">@ViewBag.keyword</span>”为您查询出 <span style="color:red;display:inline-table">@ViewBag.sum</span> 条结果：</h4>
                <div style="min-height:390px;">
                    <table class="table" style="height:0">
                        <thead style="font-weight:600;">
                            <tr>
                                <th>
                                    序号
                                </th>
                                <th>
                                    图片
                                </th>
                                <th>
                                    歌曲名
                                </th>
                                <th>
                                    演唱
                                </th>
                                <th>
                                    类别
                                </th>
                                <th>
                                    播放次数
                                </th>
                                <th>
                                    播放
                                </th>
                                <th>
                                    下载
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="text-success">
                                            <td style="height:50px;line-height:50px;">
                                                @{
                                                    if (i < 10)
                                                    {
                                                        num = "0" + i.ToString();
                                                        i++;
                                                    }
                                                    else
                                                    {
                                                        num = i.ToString();
                                                        i++;
                                                    }
                                                }
                                                @num
                                            </td>
                                            <td style="height:50px;line-height:50px;">
                                                <a href="@Url.Action("Details","Music" ,new { id = @item.music_id})"><img src="@item.imgage_url" alt="loading" style="height:50px;width:50px;" /></a>
                                            </td>
                                            <td style="height:50px;line-height:50px;">
                                                @item.music_name
                                            </td>
                                            <td style="height:50px;line-height:50px;">
                                                <a href="@Url.Action("UserSingerInfo","Singers" ,new { id = @item.Users.userId })" style="font-size:14px;">@item.Users.name</a>
                                            </td>
                                            <td style="height:50px;line-height:50px;">
                                                @item.UpType.typeName
                                            </td>
                                            <td style="height:50px;line-height:50px;">
                                                @item.listen_times
                                            </td>
                                            <td>
                                                <div style="margin-top:15px;"><a href="#">&nbsp;&nbsp;<i class="glyphicon glyphicon-play-circle"></i></a></div>
                                            </td>
                                            <td>
                                                <div style="margin-top:17px;"><a href="#">&nbsp;&nbsp;<i class="fa fa-download"></i></a></div>
                                            </td>
                                        </tr>
                                        }
                                  }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
