@model IEnumerable<Models.Users>
    @{ 
        Layout = null;
    }
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/hexagons.css">
</head>

<body>
    <div style="text-align:center;clear:both; overflow-y:hidden ;">
        <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
        <script src="/follow.js" type="text/javascript"></script>
    </div>
    <ul id="hexGrid" style="overflow-y:hidden ;">
        @foreach (var item in Model)
        {
            <li class="hex" >
                <a class="hexIn" href="@Url.Action("SingerAlbum", "Singers" ,new { id = @item.userId})">
                    <img src="@item.photo " alt="" >
                    <h1 style="color:black ;">@Html.DisplayFor(modelItem => item.name)</h1>
                    <p style="color:black ;"> 粉丝数：@Html.DisplayFor(modelItem => item.user_fans) ,
                                                  <br>@Html.DisplayFor(modelItem => item.birthday), 
                                                  <br>@Html.DisplayFor(modelItem => item.area)</p>
                </a>
            </li>
        }
    </ul>
</body>

