@model Models.UserMusics
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layuiTest</title>
    <link rel="stylesheet" href="~/Content/layui-v2.5.6/layui/css/layui.css" media="all">
</head>
<body>
    <div style="width:100%; height:100%;">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="300">
            </colgroup>
            <thead>
                <tr>
                    <th>属性</th>
                    <th>属性值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>歌曲ID</td>
                    <td>@Model.music_id</td>
                </tr>
                <tr>
                    <td>歌曲海报</td>
                    <td><img src="@Model.imgage_url" width="50" height="50" /></td>
                </tr>
                <tr>
                    <td>歌曲名称</td>
                    <td>@Model.music_name</td>
                </tr>
                <tr>
                    <td>上传用户</td>
                    <td>@Model.user_id</td>
                </tr>
                <tr>
                    <td>歌曲类型</td>
                    <td>@Model.MusicType.typeName</td>
                </tr>
                <tr>
                    <td>上传类型</td>
                    <td>@Model.UpType.typeName</td>
                </tr>
                <tr>
                    <td>上传时间</td>
                    <td>@Model.upTime</td>
                </tr>
                <tr>
                    <td>歌曲简介</td>
                    <td>@Model.music_info</td>
                </tr>
                <tr>
                    <td>歌曲文件地址</td>
                    <td>@Model.music_url</td>
                </tr>
                <tr>
                    <td>歌曲状态</td>
                    @{
                        if (Model.music_state == 1)
                        {
                            <td style="color:deepskyblue;">在线中</td>
                        }
                        else if (Model.music_state == 0)
                        {
                            <td style="color:red;">离线中</td>
                        }
                    }                    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>