@model VoiceSingWeb.Models.GoodCommentModel
@{
    ViewBag.Title = "AddComment";
    Layout = "~/Views/Shared/_MarketLayout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/Content/css/AddComment.css" />
}
<div class="C-head">
    <div class="block">
        <span>
            <a href="@Url.Action("Shop_Center", "Shopping")">个人中心</a>
        </span>
        <span class="pointer">
            <i></i>
            我的评价
        </span>
    </div>
</div>
@using (Ajax.BeginForm("SendComment", "Shopping", new AjaxOptions { HttpMethod = "post", OnSuccess = "success" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="Box">
        <div class="good-box">
            <span class="topic">评价</span>
            <input type="hidden" name="detailsid" value="@Model.orderdetailsid" />
            <input type="hidden" name="goodid" value="@Model.goodid" />
            <div class="product">
                <span><img src="@Model.img" /></span>
                <span class="name">@Model.Name</span>
                <span class="time">@Model.Time</span>
            </div>
        </div>

        <div class="good-sorce">
            <span>商品评价：</span>
            <input type="number" name="socre1" />
            <span>客服评价：</span>
            <input type="number" name="socre2" />
            <span>物流评价：</span>
            <input type="number" name="socre3" />
        </div>
        <div class="good-content">
            <textarea id="editor" name="content"></textarea>
        </div>
        <div class="But">
            <input class="tj" type="submit" value="评价" />
        </div>
    </div>
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script>
    var editor = CKEDITOR.replace('editor');
    function success(data) {
        if (data == "success") {
            alert('评论成功！');
            window.location = '../../Shopping/Shop_Center';
        }
        else {
            alert('您还没有登入哦！');
        }
    }
</script>