@model VoiceSingWeb.Models.UpdateAddressModel

@{
    Layout = "~/Views/Shared/_MarketLayout.cshtml";
    ViewBag.Title = "修改我的地址";
}
<link href="~/Content/css/Address.css" rel="stylesheet" />
<div class="all">
    <div class="C-head">
        <div class="block">
            <span>
                <a href="@Url.Action("shop_Center", "Shopping")">个人中心</a>
            </span>
            <span class="pointer">
                <i></i>
                修改地址
            </span>
        </div>
    </div>
    <div class="address-gray">
        <div class="form-box">
            <span class="box-title">- 修改地址 -</span>
            @using (Ajax.BeginForm("UpdateAddress", "Shopping", new AjaxOptions { HttpMethod = "Post", OnSuccess = "success" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Addressid);
                
                <div class="row">
                    <label class="txt-title"><span>*</span>收货人</label>
                    @Html.TextBoxFor(m => m.Name, new { id = "Name", autocomplete = "off", placeholder = "请输入收件人" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="row">
                    <label class="txt-title"><span>*</span>手机号码</label>
                    @Html.TextBoxFor(m => m.Phonenumber, new { id = "Phonenumber", autocomplete = "off", placeholder = "请输入11位手机号" })
                    @Html.ValidationMessageFor(m => m.Phonenumber)
                </div>

                <div class="row">
                    <label class="txt-title"><span>*</span>收货地址</label>
                    @Html.TextBoxFor(m => m.Address, new { id = "Address", autocomplete = "off", placeholder = "输入街道、乡镇、小区、或商园名称" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
                <div class="btn">
                    <input type="button" value="取消" />
                    <input type="submit" value="保存" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    $('.address-gray #Adressnee').blur(function () {
        if ($(this).val().length == 0) {
            $(this).addClass('err');
            $(this).val('*收件人请不要为空');
        }
    })

    function success(data) {
        if (data == "success") {
            alert('修改成功！');
            window.location = '../../Shopping/Shop_Center';
        }
        else {
            alert('您还没有登入哦！');
        }
    }
</script>